# API Configuration
VITE_API_URL=https://ns3k03uita.execute-api.us-east-1.amazonaws.com/api

# AWS Cognito Configuration
VITE_USER_POOL_ID=us-east-1_xxxxx
VITE_USER_POOL_CLIENT_ID=xxxxx
VITE_DOMAIN=auth.example.com
VITE_REDIRECT_SIGN_IN=http://localhost:5173
VITE_REDIRECT_SIGN_OUT=http://localhost:5173
VITE_REGION=us-east-1
