dev:
  deploy:
    parameters:
      stack_name: $STACK_NAME
      s3_prefix: $STACK_NAME
      region: us-east-1
      capabilities: CAPABILITY_IAM CAPABILITY_AUTO_EXPAND
      image_repositories: []
      tags:
        - project=stream-post-processor
      parameter_overrides: [
        "EnvironmentHash=$ENV_HASH",
        "EncryptionKey=$ENCRYPTION_KEY",
        "EnvironmentName=$ENV_NAME",
        "MomentoApiKey=$MOMENTO_API_KEY",
        "MomentoCacheName=$CACHE_NAME"
      ]
  global:
    parameters:
      region: us-east-1
version: 0.1
